:root {
  --descomplica-color: #00e88f;
  --background-color: #252525;
  --off-white: #eeeeee;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--off-white);
}

header {
  background-color: var(--background-color);
  color: var(--off-white);
  padding: 1rem;
  text-align: center;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

header h1 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

header img {
  max-width: 100px;
  display: block;
  margin-top: 30px;
}

section#links {
  padding: 2rem;
  background-color: var(--background-color);
  margin: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-decoration: none;
}

section#links h1 {
  color: var(--off-white);
  text-align: center;
  margin-bottom: 2rem;
  text-decoration: none;
}

section#links a {
  color: var(--descomplica-color);
  text-decoration: none;
  font-weight: bold;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #505050;
  border: 1px solid #166d00;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 130px;
  transition: transform 0.2s;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card:hover {
  transform: scale(1.02);
  background-color: var(--background-color);
  color: var(--off-white);
}

.card a {
  color: #4CAF50;
  text-decoration: none;
  font-weight: bold;
}

.card a:hover {
  text-decoration: underline;
}

#back-to-top {
  background-color: #4CAF50;
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#back-to-top:hover {
  background-color: #23e22d;
  color: #000000;
}
